<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock%} - Viveroweb</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"> Viveroweb con Python y Django</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="container mt-3">
        {% block content%}{% endblock %}
    </div>
</body>

</html>